#middle-span {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
}